#################
## Wyrmsun Preferences and other User Data
#################
## Ignore temporary files and user data
.import/
conversion_maps/
dlcs/
interface/QtGraphicalEffects/
interface/QtQuick/
interface/QtQuick.2/
libraries/
mods/
temp/
wyr/
crash.dmp
lua51.dll
oaml.log
Qt5Core.dll
Qt5Gui.dll
Qt5Multimedia.dll
Qt5Network.dll
Qt5Qml.dll
Qt5QmlModels.dll
Qt5QmlWorkerScript.dll
Qt5Quick.dll
Qt5QuickControls2.dll
Qt5QuickTemplates2.dll
Qt5Widgets.dll
screen*.png
SDL.dll
stderr.txt
stdout.txt
wyrmsun32
wyrmsun64
run.sh
linux_readme.txt
*.exe
*.lnk

## Steam Workshop Mod Uploader
CSteamworks.dll
ModCreator.exe
steam_api.dll
steam_appid.txt
Steamworks.NET.dll