#################
## Wyrmsun Preferences and other User Data
#################
## Ignore temporary files and user data
.import/
conversion_maps/
dlcs/
mods/
temp/
wyr/
*.exe
*.lnk
crash.dmp
launcher.exe
linux_readme.txt
lua51.dll
oaml.log
run.sh
screen*.png
SDL.dll
SDL2.dll
stderr.txt
stdout.txt
stratagus.exe
wyrmsun.exe
wyrmsun32
wyrmsun64

## Steam Workshop Mod Uploader
CSteamworks.dll
ModCreator.exe
steam_api.dll
steam_appid.txt
Steamworks.NET.dll