[Desktop Entry]
Categories=Game;StrategyGame;
Exec=wyrmsun
GenericName=Mythologic realtime-strategy game
GenericName[de]=Mythologisches Echtzeitstrategiespiel
GenericName[ru]=Мифологическая стратагия реального времени
Icon=wyrmsun
Name=Wyrmsun
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
